.movieBlock
{
    width: 25%;
    min-height: 250px;
    height:auto;
    border:2px black solid;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    overflow: hidden;
    
}

.detail{
    width: 100%;
}

// Bordure d'un film quand l'utilisateur selectionne ce film
.isSelected{
    background-color: palegreen;
}

// retire les espaces avant et apres une balise <p>
p {
    margin: 0;
    padding: 0;
}

.titleMovie{
    font-weight: bold;
}

// Poster du film
.moviePoster{
    height: 100px;
    width:100px;
}